*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #0b2434;
  font-family: "Inter", sans-serif;
  font-family: "Karla", sans-serif;
}

main {
  max-width: 32rem;
  min-height: 32rem;
  background: #f5f5f5;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.5rem;
}

main button {
  margin-top: 2.6rem;
  height: 3.6rem;
  width: 12rem;
  background: #5035ff;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border-radius: 3.81277px;
  border: none;
  color: #fff;
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 1.7rem;
  cursor: pointer;
}

main button:hover {
  background: #5840f4;
}

main button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

main header {
  margin-bottom: 0rem;
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 2.6rem;
  letter-spacing: -0.03em;
  color: #2b283a;
}

main .text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: -0.03em;
  color: #4a4e74;
  text-align: center;
  margin-bottom: 1.5rem;
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  main {
    max-width: 64rem;
    max-height: 64rem;
  }

  main button {
    width: 18rem;
    height: 6rem;
    font-size: 2.5rem;
    margin-top: 4rem;
  }

  main header {
    font-size: 4rem;
  }

  main .text {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
  }
}

.die {
  height: 5rem;
  width: 5rem;
  padding: 0.5rem;
  background: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  border: 1px solid #2b283a;
}

.dot {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #2b283a;
}

.first-face {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-face,
.third-face,
.fourth-face,
.fifth-face,
.sixth-face {
  display: flex;
  justify-content: space-between;
}

.second-face .dot:nth-of-type(2) {
  align-self: flex-end;
}

.third-face .dot:nth-of-type(3) {
  align-self: flex-end;
}

.third-face .dot:nth-of-type(2) {
  align-self: center;
}

.fourth-face .column,
.fifth-face .column,
.sixth-face .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fifth-face .column:nth-of-type(2) {
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .die {
    padding: 1rem;
    height: 8rem;
    width: 8rem;
  }

  .dot {
    width: 14px;
    height: 14px;
  }
}

/* Dice Container */

.dice-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto auto;
  gap: 10px;
}

@media screen and (min-width: 768px) {
  .dice-container {
    gap: 20px;
  }
}
