*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

main {
  width: 32rem;
  height: 32rem;
  background: #f5f5f5;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  main {
    width: 64rem;
    height: 64rem;
  }
}
